<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070859854806-e74r4i6abs5f9m5otpp21akkrnjg3k10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070859854806-e74r4i6abs5f9m5otpp21akkrnjg3k10</string>
	<key>API_KEY</key>
	<string>AIzaSyC6lnJ1WnRAuFXKhT06ZQEQK7OASft1cAc</string>
	<key>GCM_SENDER_ID</key>
	<string>1070859854806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hip.doormaster</string>
	<key>PROJECT_ID</key>
	<string>hip-notification-6d592</string>
	<key>STORAGE_BUCKET</key>
	<string>hip-notification-6d592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070859854806:ios:0ecc0fc5d74bd411653a77</string>
</dict>
</plist>